@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.Text.Json
@using Newtonsoft.Json 
@using JsonSerializer = System.Text.Json.JsonSerializer

<PageTitle>Weather</PageTitle>
<div class="container">
    <div class="form-container">
        <input placeholder="Enter City Name"  @bind-value="EnteredCityName"/>
        <button class="SearchButton" @onclick="GetCityWeather" disabled="@isRunning">Get Weather</button>
    </div>
    <div class="form-container">
        <input placeholder="number of days for forecast" disabled="@AreaNotLoaded"  @bind-value="ForecastDaysAmount"/>
        <button class="SearchButton" @onclick="GetForeCast" disabled="@AreaNotLoaded">Get Forecast</button>
    </div>
    <!--<button class="SearchButton" @onclick="GetWeatherAlerts" disabled="@AreaNotLoaded">Get Weather Alerts</button>-->
    <button class="SearchButton" @onclick="GetCityNameLocation" disabled="@isRunning">Get my Location's Weather</button>
       <h1>@DisplayMessage</h1>
</div>
@if (isRunning) { <ProgressBar Value="@progressValue"></ProgressBar> }
<WeatherInfo WeatherHandler="@this"></WeatherInfo>

@code {

    private double Latitude { get; set; }
    private double Longitude { get; set; }
    private DotNetObjectReference<Weather>? dotNetHelper;
    private static readonly string apiKey = "9ccbafa11739fe75b7bbcb29da052335";
    private static readonly string baseUrl = "https://api.openweathermap.org/data/2.5/weather";
    private string? DisplayMessage;
    private string? LocationCityName = string.Empty;
    private string? EnteredCityName = string.Empty;
    private bool isRunning = false;
    private bool AreaNotLoaded = true;
    private int progressValue = 0;
    public int? ForecastDaysAmount = 5;
    public event Action<WeatherInfoModel.Root> OnWeatherLoaded;
    public event Action<List<WeatherForecastModel.WeatherForecast>> OnForecastLoaded;
    private async Task GetCityWeather()
    {
        isRunning = true;
        await LoadWeatherForArea(EnteredCityName,InitProgress());
    }
    private async Task GetCityNameLocation()
    {
        isRunning = true;
        await GetCityName();
    }
    public async Task<HttpResponseMessage> CallApi(string url)
    {
        try
        {
            return await Task.Run(()=>Http.GetAsync(url));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    public async Task LoadWeatherForArea(string CityName,IProgress<int> progress)
    {
        HttpResponseMessage response = await CallApi($"https://api.openweathermap.org/data/2.5/weather?q={CityName}&appid={@apiKey}&units=metric");
        progress.Report(65);
        await Task.Delay(300);
        var json = await response.Content.ReadAsStringAsync();
        WeatherInfoModel.Root? data = JsonSerializer.Deserialize<WeatherInfoModel.Root>(json);
        OnWeatherLoaded?.Invoke(data);
        AreaNotLoaded = false;
        DisplayMessage = "Weather summary for: " + CityName;
        progress.Report(100);
        await Task.Delay(500);
        isRunning = false;
    }
    Progress<int> InitProgress()
    {
        progressValue = 0;
        var progress = new Progress<int>(value =>
        {
            progressValue = value;
            StateHasChanged();
        });
        return progress;
    }
    private async Task GetCityName()
    {
        var progress = InitProgress();
        string apiUrl = $"https://nominatim.openstreetmap.org/reverse?format=json&lat={Latitude}&lon={Longitude}&zoom=10&addressdetails=1";
        var LocationInfo = await Task.Run(() => ProcessRequest(apiUrl,progress));
        string CountyName = JsonDocument.Parse(LocationInfo).RootElement.GetProperty("address").GetProperty("county").ToString();
        LocationCityName = CountyName.Replace("City of ", "");
        await Task.Run(() =>  LoadWeatherForArea(LocationCityName,progress));
        StateHasChanged();
    }

    private async Task<string> ProcessRequest(string apiUrl,IProgress<int> progress)
    {
        HttpResponseMessage response = await CallApi(apiUrl);
        progress.Report(10);
        await Task.Delay(300);
        progress.Report(30);
        return await response.Content.ReadAsStringAsync();
    }
    private async Task GetLocation()
    {
        dotNetHelper = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("getGeolocation", dotNetHelper);
    }
    public async Task GetForeCast()
    {
        var progress = InitProgress();
        string apiUrl = $"https://api.openweathermap.org/data/2.5/forecast?lat={Latitude}&lon={Longitude}&cnt={ForecastDaysAmount}&appid={apiKey}";
        var ForecastInfo = await Task.Run(() => ProcessRequest(apiUrl,progress));
        WeatherForecastModel.WeatherData? rootData = JsonConvert.DeserializeObject<WeatherForecastModel.WeatherData>(ForecastInfo);
        List<WeatherForecastModel.WeatherForecast>? ForecastData = rootData.List;
        OnForecastLoaded?.Invoke(ForecastData);
    }
    /*public async Task GetWeatherAlerts()
    {
        HttpResponseMessage response = await CallApi($"https://api.openweathermap.org/data/3.0/onecall?lat={Latitude}&lon={Longitude}&exclude=current,minutely,hourly,daily&appid={apiKey}");
    }*/
    [JSInvokable]
    public void ReceiveLocation(double latitude, double longitude)
    {
        Latitude = latitude;
        Longitude = longitude;
    }
    protected override void OnInitialized()
    {
        DisplayMessage = "Welcome, what would you like to see";
        AreaNotLoaded = true; 
        Task.Run( () => GetLocation());
    }
    
    }