@if(WeatherInfoHandler.LoadedData)
{
    <div class="button-container">
        <button class="round-button" @onclick="()=>SwitchSymbol(true)">Fahrenheit</button>
        <button class="round-button" @onclick="()=>SwitchSymbol(false)"> Celsius</button>
        <button class="round-button" @onclick="()=>SwitchUnits(false)">Km/h</button>
        <button class="round-button" @onclick="()=>SwitchUnits(true)">mph</button>
    </div>
    <div class="weather-container">
        @foreach (WeatherInfoForDay dayInfo in WeatherInfoHandler.ForecastDaysInfo)
        {
            <div class="weather-card">
                <img src="@dayInfo.imageLink" alt="@dayInfo.description"/>
                <span
                    class="Details">@dayInfo.date
                </span>
                <span class="Description">
                     @dayInfo.description
                </span>
                <div class="Large-Details">
                    <span>Temperature: @dayInfo.CurrentTemperature @TemperatureSymbol</span>
                    <br/><span>Wind speed: @dayInfo.CurrentWindSpeed @SpeedSymbol</span>
                </div>
                <span
                    class="Details">Humidity: @dayInfo.HumidityData @HumiditySymbol
                </span>
            </div>    
        }
    </div>
}
@code {
    [Parameter] public WeatherInfo? WeatherInfoHandler { get; set; }
    private string? TemperatureSymbol = "\u00b0C";
    private string? SpeedSymbol = "Km/h";
    private WeatherInfoForDay? CurrentWeatherData;
    private string? HumiditySymbol = "g/m\u00b3";
    DateTime currentDate;
    protected override void OnInitialized()
    {
        //
        WeatherInfoHandler.OnNewDay += LoadInfo;
        currentDate = DateTime.Today;
        
    }
    private void LoadInfo()
    {
        CurrentWeatherData = WeatherInfoHandler?.CurrentWeatherDay;
        StateHasChanged();
    }
    private void SwitchSymbol(bool isFahrenheit)
    {
        foreach (WeatherInfoForDay dayInfo in WeatherInfoHandler.ForecastDaysInfo)
            dayInfo.SwitchToFahrenheit(isFahrenheit);
        if (isFahrenheit) {TemperatureSymbol = "\u00b0F"; return; }
        TemperatureSymbol = "\u00b0C"; 
    }
    private void SwitchUnits(bool isMph)
    {
        foreach (WeatherInfoForDay dayInfo in WeatherInfoHandler.ForecastDaysInfo)
            dayInfo.SwitchToMph(isMph);
        if(isMph) {SpeedSymbol = "m/h"; return; }
        SpeedSymbol = "Km/h";
    }
}
